@mixin animation($animate...) {
  $max: length($animate);
  $animations: '';

  @for $i from 1 through $max {
      $animations: #{$animations + nth($animate, $i)};

      @if $i < $max {
          $animations: #{$animations + ", "};
      }
  }
  -webkit-animation: $animations;
  -moz-animation:    $animations;
  -o-animation:      $animations;
  animation:         $animations;
}

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
      @content;
  }
  @-moz-keyframes #{$animationName} {
      @content;
  }
  @-o-keyframes #{$animationName} {
      @content;
  }
  @keyframes #{$animationName} {
      @content;
  }

}

@include keyframes(rotate) {
0%   { 
  transform:rotate(0)
}
100% {
    transform:rotate(360deg)
  }
}

body{
height:2rem;
margin:0;
padding:0;
background-color:#ffffff;
z-index: 100;
background-repeat:no-repeat;
background-size: 200vh;
background-position:center;
color:#fff;
font-family: 'Open Sans', sans-serif;
font-weight:300;
}

.m-intro{
text-align:center;
display: flex;
align-items: center;
justify-content: center;
overflow:hidden;
position:relative;
border-radius: 100em;


&:before, &::after {
  display:block;
  
  content:" ";
  width: 1600px;
  height:2000px;
  position:absolute;
  transform-origin:center;
  background-position:center;
  background-image:url('https://i.ibb.co/z869yQd/BETTERBURGS.png');
  background-size: 20% auto;
  background-repeat: repeat;
  @include animation('rotate 190s infinite linear');
}

.burg-header {
  border: 45px solid black;
  border-radius: 0 0 90px 90px;
}

.e-text{
  flex-wrap: wrap;
  width: calc(100% - 140px);
  position:relative;
  z-index:100;
  border-radius: 34px;
  background-color: #ffffff;
  opacity: 95%;
  margin-bottom: 1rem;
  margin-top: 1rem;
  


  h1{
   
    text-transform: uppercase;
    font-size:30px;
    line-height:100px;
    
    margin:0px 0;
    padding: 0px 0px 0px 0px ;
    position:relative;
   
    @supports(-webkit-background-clip: text){
      background: radial-gradient(ellipse at center, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
     
    }

  }


  }

  
}


.upload-button {
  margin-bottom: 1em;
  justify-content: center;
}


.burg-header {
  border: 11px solid #CCA01D;
  border-radius: 100em;
}



.image-preview {
  width: 100%;
  min-height: 100px;
  max-height: 10%;
  border: 2px solid rgb(172, 172, 172);
  color: rgb(111, 111, 111);
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  overflow: hidden;
  
  border-radius: 2em;
  box-shadow: 2.5px 3px #888888;
}

.image-preview img {
  object-fit: cover;
  align-self: center;
  margin-top: 1.5em;
  max-width: 67%;
  max-height: 50%;
  
}
.image-preview__image {
  width: 100%;
  display: none;
}


.image-preview__image-filled {
  width: 100%;

}
@media only screen and (max-width: 850px) {
  .image-preview {
    width: 100%;
    max-height: 100%;
    border: 2px solid black;
    margin-left: 0em;
    margin-top: 0;
    
  }
  .image-preview img {
    object-fit: cover;
    align-self: center;
    max-width: 100%;
    max-height: 100%;
  }

  .upload-button {
    margin-bottom: 1em;
  }
}


