.video-responsive {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  align-items: center;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 70%;
  width: 70%;
  position: absolute;
  // justify-content: center;
}