.video-responsive {
  overflow: hidden;
  padding-bottom: 45%;
  position: relative;
  height: 0;
<<<<<<< HEAD
  margin-left: 17em;
  // justify-content: center;
=======
  // margin-top: 2rem;
  // margin-bottom: 2rem;
  border-radius: 3%;
  border-color: black;
  margin-right: 7rem;
  margin-left: 7rem;
>>>>>>> embed-video-styling
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
<<<<<<< HEAD
  // justify-content: center;
} 
=======
}
>>>>>>> embed-video-styling
