// .section .section-recipe {
// flex: display;
// flex-wrap: wrap;
// flex-direction: column;

// }

// .recipe-fields {
//   flex: 1 1 25%;
//   padding: 5px; 
//   text-align: center;
//   margin: 20px 0 0 50px;
  
// }

.MuiTypography-root {
  text-align: center
}


.MuiGrid-item {
  padding: 15px;

}

Button.MuiButton-root {

  margin-right: 15px;

}


label.MuiFormControlLabel-root {
  
  width: 17%;
 
 
}