.recipe-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 100vh;
}

.recipe-card-list-item {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  text-align: center;
  font-size: 18px;
  margin: 40px 0px 20px 0px;
  padding: 0px 0px 20px 0px;
}

.recipe-img {
  height: 20em;
  width: 20em;
  margin: 20px 0px 20px 0px;
}

.cover-img {
 width: 100%;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 3em;
  font-weight: bolder;
}

.search-bar {
  position: absolute;
  top: 12.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 3em;
  font-weight: bolder;
}

.search-bar input {
  height: 2em;
  width: 20em;
}

.recipe-card-container {
  display: flex;
  flex-wrap: wrap;
}

.recipe-card {
  flex: 1 1 25%;
  padding: 5px; 
  text-align: center;
  margin: 20px 0 0 50px;
  
}
