.top-card {
  
  background-color: beige;
  
}

.map-container {
  display: flex;
  background-color: beige;
  justify-content: center;
  margin: 10px 0px 20px 0px;
}

.instruction-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: beige;
}

.value-container {
  margin: 10px 0 10px 0;
}


