.top-card {
  
  background-color: beige;
  
}

.map-container {
  display: flex;
  background-color: beige;
  justify-content: center;
  
}

.instruction-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: beige;
}



